body {
    background-color: #FAEEE7;
}

.banner, .who-we-are, .threeItems, .about {
    background-color: #FAEEE7;
}

.banner {
    padding: 5rem 10rem;
}

.btn.lmore {
    background-color: #FAEEE7;
    border: 2px solid black;
    font-weight: 500;
    padding: .5rem 1.5rem;
}

.who-we-are {
    padding: 1rem 10rem;
}

.threeItems {
    padding: 5rem 10rem;
}

.about-box {
    margin-bottom: 5rem;
}

.about {
    padding: 0rem 15rem 5rem 15rem;
}

.about-text {
    background-color: #FFFFFF;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 2px 2px 2px 2px #FF8BA7;
}
