/* body{
    height: 100%;
    background-color: #FAEEE7;
} */

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

h3{
    font-size: 2vw;
}

h4{
    font-size: 1.8vw;
}

.linksec{
    display: flex;
    justify-content: center;
}

.Hiralink, .Katalink{
    background-color: #C3F0CA;
    border-radius: 2vw;
    padding: 1vw 2vw;
    font-size: 2vw;
    margin: 1vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.Hiralink:hover, .Katalink:hover{
    background-color: #FFC6C7;
    color: black;
}

.whitebg{
    width: 87vw;
    padding-bottom: 3vh;
    /* top: 9vw; */
    /* position: absolute; */
    background-color: white;
    border-radius: 30px;
    left: 6vw;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.chara1{
    position: static;
    display: flex;
    flex-direction: row;
    /* margin-top: 4vw; */
    /* margin-left: 1.5vw; */
    flex-wrap: wrap;
    /* width: 42vw; */
    /* height: 90vw; */
    /* margin-left: auto;
    margin-right: auto; */

}

.characterss{
    display: flex;
    flex-direction: row;
    position: relative;
    width: fit-content;
}

.chara2{
    /* position: absolute; */
    /* left: 45vw; */
    /* top: 230px; */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-top: 12.2vw; */
    /* width: 42vw; */
}

.chara21{
    /* height: 330px; */
    /* height: 24vw; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chara22{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin-top: 6.5rem; */
    /* margin-top: 9vw; */

    /* height: 16vw; */
}

.flashcard{
    height: 6vw;
    width: 5.5vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 1vw;
    background-color: #C3F0CA;
    border: none;
    /* margin: 0.3vw 0.3rem 2.26px 0.3rem; */
    margin: 0.7vw;
    /* margin: auto; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flashcard:hover{
    background-color: #FFC6C7;
}

img.mochi, img.mochikana{
    position: absolute;
    display: flex;
    /* width: 100%; */
}

#blankk{
    z-index: -100;
}

.mochi{
    /* left: 70vw; */
    /* top: 75vw; */
    bottom: 0px;
    right: 10vw;
    height: 30vw;
}

.mochikana{
    /* left: 55vw; */
    /* top: 75vw; */
    bottom: 0px;
    right: 5vw;
    height: 27vw;
    transform: scaleX(-1);
}
