body {
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    justify-content: flex;
    color: #33272A;
}

.navbar{
    padding: 0;
    background-color: #FAEEE7;
    color: #33272A;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  padding: 10px 15px;
  color: #33272A;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar a i,
.navbar a:focus i{
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -1px;
  left: 3;
  background-color: #33272A;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #FF8BA7;
}

/* SECTION GENERAL */
section {
    justify-content: flex;
    padding: 50px 50px;
    background-color: #FAEEE7;
}

/* ARTICLE */

section.article {
    background-color: #FAEEE7;
}
.card{
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.paginate-color li a {
    color: #FFC6C7;
}

.paginate-color li a:hover {
    background-color: #FFC6C7;
    color: white;
}
.paginate-color li option:checked {
    background-color: #FFC6C7;
    color: white;
}

.paginate-color li.active a {
    background-color: #FFC6C7;
    color: white;
}

.paginate-color li.disabled span {
    color: gray;
}

/* Article Inside */

section.showArticle{
    background-color: #FAEEE7;
    font-family: "Poppins", sans-serif;
}


.btn-back:hover{
    background: #f48183;
    background: linear-gradient(to right, #f48183, #f48183);
    color: #f48183;
}

.btn-view:hover{
    background: linear-gradient(to right, #a3dfac, #a3dfac);
}

.filbut:hover{
    background: linear-gradient(to right, #a3dfac, #a3dfac);
}

.refbut:hover{
    background: #f48183;
    background: linear-gradient(to right, #f48183, #f48183);
    color: #f48183;
}
.filterbutton:hover{
    background: linear-gradient(to right, #FFC6C7, #FFC6C7);
}

.filterbutton option {
    border-radius: 5px; /* Adjust the value as needed */
}

.tgl{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.12em;
    color: #747474;
    margin: 4px
}
.titlearticle{
    /* margin: auto;
    width: fit-content; */
    height: 30px;
    top: 535.64px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #33272A;
    align-items: start;
    text-align: start;
}

.authorname{
    /* margin: auto;
    width: fit-content; */
    height: 30px;
    top: 535.64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #33272A;
    align-items: start;
    text-align: start;
}

/* Profile Student */
.container-profileStudent{
    border-radius: 30px;
}
section.profileStudent{
    background-color: #FAEEE7;
    font-family: "Poppins", sans-serif;
}
.chooseimgbut{
    width: 150px;
    height: fit-content;
    border: none;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-weight: 500;
}

.btnsave{
    width: 70px;
    height: fit-content;
    border: none;
    background: #FF8BA7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-weight: 500;
}

/* Leaderboard Student */
.studentLeaderboard{
    background-color: #FAEEE7;
    font-family: "Poppins", sans-serif;
}

.leaderboardText {
    font-size: 18px;
    font-weight: 700;
}

.leaderboardBox {
    border-radius:30px;
}



/* view teacher */
section.viewTeacher{
    background-color: #FAEEE7;
    font-family: "Poppins", sans-serif;
}

/* .rate{

	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;

} */



.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


.buttons{
	top: 36px;
    position: relative;
}


.rating-submit{
	border-radius: 15px;
	color: #fff;
	    height: 49px;
}


.rating-submit:hover{

	color: #fff;
}

.reqteacher{
    background: #FF8BA7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.tuition{
    height: 50px;
    background: #C3F0CA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border:none;
    font-weight: 600;
}

/* Find Teacher */
section.findTeacher{
    background-color: #FAEEE7;
    font-family: "Poppins", sans-serif;
}

.viewteacherbut{
    background: #C3F0CA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    font-weight: 600;
    width: 100px;
    height: 40px;
}

/* profile */

.photo-input {
    text-align: center;
    align-items: center;
}

.photo-input input[type="file"] {
    display: none;
}

.photo-input label {
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #F5F5F5;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
