body{
    height: 100%;
    background-color: #FAEEE7;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

h1{
    font-size: xx-large;
}

h2{
    font-size: x-large;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 15px;
}

.note-page{
    display: flex;
    flex-direction: column;
}

.note-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vw 2vw 2vw 2vw;

    border-bottom: lightpink solid 2px;
}

.note-img{
    height: 10vw;
    width: 10vw;
}

.note-back-icon{
    color: black;
    height: 50px;
    margin: 0;
}

.note-title{
    text-align: center;
}

.note-list{
    margin: 1rem 5vw 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-dialog-chapter{
    border-bottom: lightpink solid 2px;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
}

.note-span{
    float: left;
    align-items: center;
    display: inline-flex;
    margin: 0 5px 0 0;
}

.note-button{
    background: none;
    border: none;
    padding: 0;
}

.note-button-icon{
    width: 25px;
    height: 25px;
}

.note-button-icon:hover{
    fill: lightpink;
}

.note-cont{
    display: grid;
    justify-content: start;
}

.a{
    justify-content: flex-start;
}

.b{
    justify-content: flex-end;
    margin-top: -10px;
}

.note-text-dialog{
    padding: 15px 16px 20px;
    border: black solid 2px;
    border-radius: 15px;
    background-color: #C3F0CA;
    text-align: center;
}
