body{
    height: 100%;
    background-color: #FAEEE7;
}

.learningg{
    background-color: #FAEEE7 ;
}

.chapter{
    display: flex;
    flex-direction: column;
}

.papan{
    display: flex;
    flex-direction: row;

    /* background-color: #58CC02; */
    border-radius: 1vw;

    align-items: center;
    justify-content: space-around;
}

.judulbab{
    display: flex;
    flex-direction: column;
    padding-left: 1.4vw;
    padding: 1.5vw 0 2vw 0;

    color: #FFFFFF;
}

.textjudul{
    font-weight: 700;
    font-size: 1.5vw;

    color: #FFFFFF;
}

button{
    padding: 0;
    border: 0;
    background-color: transparent;
}

.chest-popup{
    top: 11%;
    left: 35%;
    width: 30%;
    /* display: none; */
    flex-direction: column;
    position: fixed;

    background-color: white;
    /* border: black solid 2px; */
    align-items: center;
    z-index: 105;
    padding-bottom: 2vw;
}

.chest-gif{
    width: 100%;
}

.level-popup{
    top: 11%;
    left: 35%;
    width: 30%;
    /* display: none; */
    flex-direction: column;
    display: flex;
    position: fixed;
    /* display: inline-block; */

    background-color: white;
    /* border: black solid 2px; */
    align-items: center;
    z-index: 110;
    /* padding-bottom: 2vw; */
    border-radius: 30px;
}

.level-popup-exit{
    width: 100%;
    padding: 0 1vw 0 1vw;
    display: flex;
    flex-direction: row-reverse;
}

.exit-popup{
    width: 1rem;
    right: 0;
    stroke-width: 5px;
}

.exit-popup:hover{
    color: red;
}

.exit-popup:active{
    transform: none;
}

.continue{
    border-radius: 20px;
    box-shadow: 0px 4px 0px #489D26;
    border: none;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 1.3vw;
    padding: 0.9vw 2vw;
}
.continue2{
    border-radius: 20px;
    box-shadow: 0px 4px 0px #8f8f8f;
    border: none;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 1.3vw;
    padding: 0.9vw 2vw;
}

.continue:active{
    box-shadow: none;
    transform: translateY(4px);
}
.continue2:active{
    box-shadow: none;
    transform: translateY(4px);
}

.juduldes{
    font-weight: 500;
    font-size: 1.5vw;
    margin-bottom: 0;
}


.greyy{
    display: none;
    background-color: rgb(32, 31, 31);
    opacity: 30%;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 105;
    /* bottom: 0; */
    top: 0;
}

.guidebook{
    display: flex;
    flex-direction: row;
    align-items: center;

    /* background: #58CC02; */
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1vw;

    padding: 1vw 1.5vw 1vw 1vw;
    gap: 1vw;
}

.guidebook:active{
    box-shadow: none;
    transform: translateY(4px);
}

.bookicon{
    width: 1.5vw;
    height: 1.5vw;
}

.notebook{
    font-weight: 700;
    font-size: 1vw;
    color: #FFFFFF;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.layoutlevel{
    /* height: 193.41px; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2vw 0 1vw 0;
}

.custom-popover {
    --bs-popover-max-width: 400px;
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-header-bg: var(--bs-primary);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: 1rem;
  }

.continue-popover{
    border-radius: 20px;
    box-shadow: 0px 4px 0px #489D26;
    background-color: #58CC02;
    border: none;
    text-decoration: none;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 1.3vw;
    padding: 0.9vw 2vw;
}

/* .lvl{
    width: 70px;
    height: 65px;
} */
