body{
    height: 100%;
    /* background-color:#FAEEE7 ; */
}
.body-bg{
    /* background-color:#FAEEE7 */
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
  }

.container{
    display: flex;
    justify-content: flex;
    color: #33272A;
}

.navbar{
    padding: 0;
    background-color: #FAEEE7;
    color: #33272A;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex;
  padding: 10px 15px;
  color: #33272A;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar a i,
.navbar a:focus i{
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -1px;
  left: 3;
  background-color: #33272A;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}
.navbar a:hover,
.navbar li:hover>a {
  color: #FF8BA7;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus{
  color: #33272A;
}

/* SECTION GENERAL */
section {
    /* display: flex; */
    justify-content: flex;
    padding: 50px 50px;
    background-color: #FAEEE7;
}

.section-bg {
    background-color: FAEEE7;
  }

/* ARTICLE */

section.article {
    background-color: #33272A;
}


